# Estruturas de Dados
Nesse módulo você vai aprender a agrupar diferentes tipos de dados que aprendeu anteriormente nas *Estruturas de Dados*.
- **Tipos de Estruturas de Dados:** Lists, Tuples, Sets, Dictionaries.
<br>Junto com:<br>
- **Operadores**: Membership, Identity.
- **Funções Built-In ou Métodos.**

## Listas

### Listas e Operadores de Associação
- **List:** um tipo de dados para sequências ordenadas mutáveis de elementos.

In [11]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
print(len(meses))
print(meses[0])
print(meses[1])
print(meses[7])
print(meses[-1]) # fim da lista.
print(meses[24]) # IndexError: list index out of range

12
Janeiro
Fevereiro
Agosto
Dezembro

IndexError: list index out of range

**Estruturas de Dados** são containers que se organizam e se agrupam de diferentes formas. Uma lista está entre as mais comuns e básicas estruturas de dados em python.

Aqui você vê que você pode criar uma lista com colchetes. Listas podem conter qualquer mistura e combinação de tipos de dados que você viu até agora.

In [1]:
lista_de_coisas_aleatorias = [1, 3.4, 'uma string', True]

Essa é uma lista de 4 elementos. Todos os containers ordenados (como listas) são indexados em python usando um índice inicial de 0. Portanto, para extrair o primeiro valor da lista acima, podemos escrever:

In [2]:
lista_de_coisas_aleatorias[0]

1

Talvez pareça que você pode puxar o último elemento com o seguinte código, mas na verdade ele não vai funcionar:

In [4]:
lista_de_coisas_aleatorias[len(lista_de_coisas_aleatorias)]

IndexError: list index out of range

No entanto, você pode recuperar o último elemento reduzindo o índice em 1. Portanto, você pode fazer o seguinte:

In [9]:
lista_de_coisas_aleatorias[len(lista_de_coisas_aleatorias) - 1] # é como se fosse lista_de_coisas_aleatorias[3]

True

In [10]:
lista_de_coisas_aleatorias[3]

True

Alternativamente, você pode indexar a partir do final de uma lista usando valores negativos, onde -1 é o último elemento, -2 é o penúltimo elemento e assim por diante.

In [11]:
print(lista_de_coisas_aleatorias[-1])
print(lista_de_coisas_aleatorias[-2])

True
uma string

### Listas e Operadores de Associação - II
- **Slicing Notation**

import math
quarter_3 = math.floor(len(lista_de_coisas_aleatorias) -1 / 3)
print(quarter_3)
print(lista_de_coisas_aleatorias[quarter_3:])

meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
tres_quartos = round((len(meses) - 1) / 4)
print(meses[-tres_quartos:])

In [48]:
q3 = meses[6:9] # começa no indice 6 e termina no 8.
print(q3)

['Julho', 'Agosto', 'Setembro']

In [52]:
primeira_metade = meses[:6]
print(primeira_metade)
segunda_metade = meses[6:]
print(segunda_metade)

['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho']
['Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

___Listas são mais similares as Strings___ pois ambos tipos podem utilizar `len()`, procura por índice (`indexing`) e `slicing`

In [56]:
string = 'Utilizando slicing em strings.'
print(len(string))
print(string[11])
string[11:]

30
s

'slicing em strings.'

#### Operadores de Associação - `in` e `not in` 
- `in` = avalia se o objeto no lado esquerdo está incluso no objeto do lado direito.
- `not in` = avalia se o objeto no lado esquerdo não está incluso no objeto do lado direito.

In [60]:
string = "Utilizando slicing em strings."
print("slicing" in string)
print("stra" not in string)

True
True

In [61]:
greeting = 'Hello there'
print('her' in greeting, 'her' not in greeting)

True False

In [64]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
         'Julho', 'Agosto', 'Setembro', 'Outubro','Novembro', 'Dezembro']
print(len(meses))
print('Domingo' in meses, 'Domingo' not in meses)

12
False True

**Você está `in` OU `not in`?**

Você viu que nós podemos também usar `in` e `not in` para retornar um valor booleano (True ou False) se um elemento existe ou não dentro da nossa lista, ou se uma string é uma substring de outra.

In [65]:
'this' in 'this is a string'

True

In [66]:
'in' in 'this is a string'

True

In [67]:
'isa' in 'this is a string'

False

In [68]:
5 not in [1, 2, 3, 4, 6]

True

In [69]:
5 in [1, 2, 3, 4, 6]

False

### Mutabilidade e Ordenação
__Mutabilidade__ é sobre se podemos ou não mudar um objeto uma vez que o criamos anteriormente. Se um objeto (como uma lista ou string) pode ser mudado (como uma lista pode), então ele é chamado de mutável. *Contudo, se um objeto não pode ser mudado sem a criação de um completo novo objeto (como strings)*, então o objeto é considerado imutável.

In [74]:
minha_lista = [1, 2, 3, 4, 5]
minha_lista[0] = "one"

Conforme mostrado acima, você pode substituir 1 por 'um' na lista acima. Isso ocorre porque as *listas são **mutáveis***.

No entanto, o seguinte não funciona:

In [75]:
saudacao = 'Olá a todos!'
saudacao[1] = 'b'

TypeError: 'str' object does not support item assignment

Isso ocorre porque *as strings são **imutáveis***. Isso significa que, para alterar essa string, você precisará criar uma string completamente nova.

Existem duas coisas a manter em mente para cada um dos tipos de dados que você estiver usando:

- Eles são mutáveis?
- Eles são ordenados?

**Ordenação** é sobre se a posição de um elemento no objeto podem ser usados para acessar o elemento. Ambas strings e listas são ordenadas. Pois nós podemos usar a ordem para acessar partes de listas e strings.

Contudo, você verá alguns tipos de dados nas próximas seções que serão desordenados. Para cada próxima estrutura de dado que você ver, isso é útil para entender como você indexa, se eles são mutáveis, imutáveis, e se são ordenados. Saber disso sobre a estrutura de dado é realmente útil!

Adicionalmente, você verá como cada um tem diferentes métodos, também porque você usaria uma estrutura de dado vs. outra é largamente dependente dessas propriedades, e o que você pode facilmente fazer com isso!

**Quiz: List Indexing**

Use a indexação de lista para determinar quantos dias há em um determinado mês com base na variável inteira `mes` e armazene esse valor na variável inteira `num_dias`. Por exemplo, se o `mes` for 8, `num_dias` deve ser definido como 31, pois o oitavo mês, agosto, tem 31 dias.

Lembre-se de levar em consideração a indexação baseada em zero!

In [78]:
mes = 8
dias_no_mes = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
num_dias = dias_no_mes[mes + 1]
# use list indexing to determine the number of days in month
print(num_dias)

31

**Quiz: Slicing Listas**

Selecione as 3 mais recentes datas dessa lista usando list slicing notation. Dica: indices negativos funcionam em slices!

In [79]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
                 
                 
# TODO: Modify this line so it prints the last three elements of the list
print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

#### Por quê precisamos de Listas?

Vamos falar sobre porque precisamos de uma estrutura de dados como uma lista e quando usar ela. Nós vamos dar um exemplo do universo de Wall Street para essa discussão.

Companhias listadas na bolsa NASDAQ tem símbolos de ação ou abreviações para cada nome de companhia. Por exemplo, o símbolo de ação para Alphabet, Inc. é GOOGL.

Imagine agora que você possui ações de uma empresa, digo Microsoft, e quer tirar print do símbolo de ação da sua ação. Como é um valor, você pode armazená-lo na variável `microsoft` e atribuir a ele o valor de `MSFT`. Como isso:

In [86]:
microsoft = "MSFT"

Bem, isso é conveniente! Então, agora, quando você quiser imprimir o símbolo da empresa para a qual possui ações, use o comando de impressão.

In [87]:
print(microsoft)

MSFT

Vamos agora considerar que você é um gestor de fundos de investimento e deseja imprimir as ações (ou participações) que possui em um fundo de índice (por exemplo, Vanguard Institutional Index Fund). Um fundo de índice inclui ações (também chamadas de participações) para um grande número de empresas. Acontece que o Vanguard Institutional Index Fund tem 506 participações!

Imprimir os bilhetes para todas as 506 participações usando strings individuais exigiria 506 strings. Não é ideal! Porque precisaremos lembrar o nome de cada string para imprimi-la.
Você também tem que pensar em como agrupar as 506 strings sob o mesmo fundo de índice. Nada conveniente!

É aqui que a beleza das estruturas de dados entra em jogo! Você pode usar uma lista.

Como os fundos de índice também têm símbolos de cotação, você usa isso como o nome da lista, aqui VINIX, e adiciona os símbolos de cotação para todas as participações nessa lista. Vamos preencher a lista com as principais participações listadas para o Vanguard Institutional Index Fund.

In [89]:
VINIX = ['C', 'MA', 'BA', 'PG', 'CSCO', 'VZ', 'PFE', 'HD', 'INTC', 'T', 'V', 'UNH', 'WFC', 'CVX',
         'BAC', 'JNJ', 'GOOGL', 'GOOG', 'BRK.B', 'XOM', 'JPM', 'FB', 'AMZN', 'MSFT', 'AAPL']

In [90]:
print(VINIX[0])
print(VINIX[1])

C
MA

- Podemos pesquisar se essa string existe em VINIX:

In [93]:
'GE' in VINIX

False

In [92]:
'GOOGL' in VINIX

True

### Métodos de Listas

#### Funções úteis para listas I
- `max()` = retorna o maior elemento da lista. Numa lista de números é o maior número, numa lista de strings é o elemento que deveria estar por último se a lista fosse ordenada. É utilizada se tiver apenas um tipo de dado (número com número, string com string), do contrário o erro é certo.
- `min()` = retorna o menor elemento da lista. Numa lista de números é o menor número, numa lista de strings é o elemento que deveria estar em primeiro se a lista fosse ordenada. É utilizada se tiver apenas um tipo de dado (número com número, string com string), do contrário o erro é certo.
- `sorted()` = retorna a lista de maneira ordenada.

In [101]:
pontos = ["B", "C", "A", "D", "B", "A"]
notas = pontos
print("pontos: " + str(pontos))
print("notas: " + str(notas))
pontos[3] = "B" # isso afeta os dois, pois editei a lista toda.
print("pontos: " + str(pontos))
print("notas: " + str(notas))

pontos: ['B', 'C', 'A', 'D', 'B', 'A']
notas: ['B', 'C', 'A', 'D', 'B', 'A']
pontos: ['B', 'C', 'A', 'B', 'B', 'A']
notas: ['B', 'C', 'A', 'B', 'B', 'A']

In [106]:
python_variedades = ['Burmese Python', 'African Rock Python', 'Ball Python', 'Reticulated Python', 'Angolan Python']
max(python_variedades)

'Reticulated Python'

In [113]:
min(python_variedades)

'African Rock Python'

In [107]:
sorted(python_variedades)

['African Rock Python',
 'Angolan Python',
 'Ball Python',
 'Burmese Python',
 'Reticulated Python']

In [116]:
max(["Z", "Olá"])

'Z'

#### Funções úteis para listas II
- __`.join()`__ = .join() é um método de string que usa uma lista de strings como um argumento e retorna uma string que consiste nos elementos da lista unidos por uma string separadora.<br>
- __`.append()`__ = é um método que adiciona um elemento ao final da lista.

In [18]:
dados_ls = ['dado1', 'dado2', 'dado3']
dados_str = '\n'.join(dados_ls)
print(dados_str)

dado1
dado2
dado3

In [19]:
nomes = ["García" "O'Kelly" "Davis"]
print('-'.join(nomes))

GarcíaO'KellyDavis

> **Obs:** Note que acima o hífen (-) não está em evidência no output como deveria estar, isso acontece porque não usamos a vírgula (,) na lista, o item do join substitui a vírgula da lista.

_Obs: `.join()` funciona **apenas** com strings._ 
- Veja abaixo o que acontece quando usamos outro tipo de dado:

In [20]:
algo = ["coisa", 42, "nope"]
print('-'.join(algo))

TypeError: sequence item 1: expected str instance, int found

- Usando __`.append()`__ =

In [26]:
letras = ["a", "b", "c", "d"]
letras.append("z")
print(letras)

['a', 'b', 'c', 'd', 'z']

## Tuplas
__Tuplas__ são usadas para _armazenar informações relacionadas_. São em resumo um tipo de dado para sequências de elementos _ordenados_ e _imutáveis_.
- Não podemos remover itens, ordenar ou adicionar itens nas tuplas.

In [32]:
AngkorWat = (13.4125, 103.866667)

print(type(AngkorWat))

print("Angkor Wat é de latitude: {}".format(AngkorWat[0]))
print("Angkor Wat é de longitude: {}".format(AngkorWat[1]))

<class 'tuple'>
Angkor Wat é de latitude: 13.4125
Angkor Wat é de longitude: 103.866667

In [34]:
AngkorWat[0] = 3 # imutável = erro

TypeError: 'tuple' object does not support item assignment

- __Por quê temos tuplas se são listas com menos recursos?<br>__
Tuplas são úteis quando você tem dois ou mais valores que são intimamente relacionados e que irão sempre ser usados juntos como as coordenadas de latitude e longitude.<br>
_Tuplas também podem ser usadas para atribuir múltiplas variáveis de maneira compacta, como abaixo:_<br>
- __*Desempacotamento de strings:*__

In [42]:
dimensoes = 52, 40, 100
tamanho, largura, altura = dimensoes # desempacotamento de strings.
print('As dimensões são: {} x {} x {}'.format(tamanho, largura, altura))

As dimensões são: 52 x 40 x 100

In [40]:
dimensoes = 52, 40, 100
tamanho, largura, altura = dimensoes
print("Tamanho:", tamanho, "Largura:", largura, "Altura:", altura, "\nDimensões:", dimensoes)

Tamanho: 52 Largura: 40 Altura: 100
Dimensões: (52, 40, 100)

In [41]:
localizacao = (13.4125, 103.866667)
print("Latitude:", localizacao[0])
print("Longitude:", localizacao[1])

Latitude: 13.4125
Longitude: 103.866667

Os parênteses são opcionais na definição de tuplas, e programadores frequentemente omitem eles se os parênteses não deixam o código claro.

Na segunda linha, 3 variáveis são atribuídas ao conteúdo da tupla dimensoes. Isso é chamado de __desempacotamento de tuplas__. Você pode usar desempacotamento de tuplas para atribuir a informação de uma tupla para múltiplas variáveis sem ter que acessar uma por uma e fazer multiplas declarações de atribuições.

Se não precisamos usar `dimensions` diretamente, nós podemos simplificar essas 2 linhas de código para uma única linha que atribui 3 variáveis de uma vez só!

In [43]:
length, width, height = 52, 40, 100
print("As dimensões são {} x {} x {}".format(length, width, height))

As dimensões são 52 x 40 x 100

## Sets
- ___Set___ é um tipo de dado para coleções de __únicos elementos__ _mutáveis_ e _desordenados_.<br>
- Você fez uma pesquisa e coletou 785 respostas que dizem nomes de países e colocou isso dentro dentro de uma lista de países, é claro que tiveram muitas duplicações, *para tirar as duplicações usamos Sets*.
- Sets por serem desordenados não possuem um primeiro elemento nem ultimo fixos.

In [14]:
paises = ['Marrocos', 'Brasil', 'Líbano', 'Bangladesh', 'Brasil', 'Líbano']
print(paises)
print("Observe que não há mais duplicatas:", set(paises))

['Marrocos', 'Brasil', 'Líbano', 'Bangladesh', 'Brasil', 'Líbano']
Observe que não há mais duplicatas: {'Bangladesh', 'Líbano', 'Marrocos', 'Brasil'}

In [15]:
paises = ['Angola', 'Maldivas', 'India', 'Estados Unidos', 'India', 'Dinamarca', 'Suécia', 'Gana']

print(len(paises))
print(paises[:5])
set_paises = set(paises)
print(set_paises[0]) # não consigo mostrar o primeiro país assim pois sets são desordenados.

8
['Angola', 'Maldivas', 'India', 'Estados Unidos', 'India']

TypeError: 'set' object is not subscriptable

- ___Sets___ _suportam o operador `in`_ assim como as listas:

In [16]:
print('India' in set_paises)

True

- Para ___adicionar___ elementos ao Set:

In [17]:
set_paises.add("Italia")
print(set_paises)

{'Suécia', 'Gana', 'Estados Unidos', 'Dinamarca', 'India', 'Angola', 'Italia', 'Maldivas'}

- Para ___remover___ _um elemento aleatório_ do Set:

In [18]:
set_paises.pop()
print(set_paises) # Removeu Suécia

{'Gana', 'Estados Unidos', 'Dinamarca', 'India', 'Angola', 'Italia', 'Maldivas'}

Documentação Set Methods: https://www.w3schools.com/python/python_ref_set.asp

## Dicionários e Operadores de Identificação

### Dicionários
Dicionário é um tipo de dado mutável que armazena mapeamentos de chaves exclusivas para valores. Aqui está um dicionário que armazena elementos e seus números atômicos:

In [20]:
elementos = {"hidrogênio": 1, "hélio": 2, "carbono": 6}

- Os dicionários podem ter chaves de qualquer tipo imutável (strings, inteiros e tuplas por exemplo).
- Podemos pesquisar valores ou inserir novos valores no dicionário usando colchetes que envolvem a chave.

print(elementos["hidrogênio"])
elementos["lítio"] = 3 # inserindo valor.
print(elementos)

- Nós podemos checar se um valor está no dicionário do mesmo jeito nós checamos se um valor está na lista ou definir com a palavra-chave `in`. Dicionários possuem um método relacionado que também é útil, get. `get` procura pelos valores num dicionário, mas diferente de colchetes, get retorna None (ou um valor padrão da sua escolha) se a chave não foi encontrada.

In [29]:
print("carbono" in elementos)
print(elementos.get("lítio")) # get retorna o valor de lítio se houver essa chave, do contrário, retorna None 
print(elementos.get("dilitio"))

True
3
None

__Quiz: Defina um Dicionário__

Defina um dicionário nomeado `populacao` que contem esses dados:

In [30]:
import pandas as pd

populacao = {
    'Chaves': ['Shanghai', 'Istanbul', 'Karachi', 'Mumbai'],
    'Valores': [17.8, 13.3, 13.0, 12.5]
}

df_populacao = pd.DataFrame(populacao)
display(df_populacao)

     Chaves  Valores
0  Shanghai     17.8
1  Istanbul     13.3
2   Karachi     13.0
3    Mumbai     12.5

In [31]:
population = {
    'Shanghai': 17.8,
    'Istanbul': 13.3,
    'Karachi': 13.0,
    'Mumbai': 12.5
}

In [32]:
population['Amor']

KeyError: 'Amor'

In [36]:
population.get('Sweden', 'Não há esse elemento!') # país, se for None fale: 'Não há esse elemento!'

'Não há esse elemento!'

No último exemplo, especificamos um valor padrão (a string 'Não existe tal elemento!') a ser retornado em vez de `None` quando a chave não for encontrada.

Quando usar __Dicionário__?

Vamos revisitar nosso exemplo de Wall Street de antes. Previamente nós criamos uma lista para o fundo de índice, traduzido: Fundo de Índice Institucional de Vanguarda, porque nós queremos printar os nomes das participações (ou ações) no fundo de índices.

Agora, vamos dizer como o gestor de fundos de investimento para VINIX, você também quer printar um pouco mais de detalhes para cada participação. Por exemplo, qual a taxa de retorno de cada participação?

Um dicionário funcionará bem aqui  work well here as there is a key: value association. In other words, there is a linkage between each holding and the information (e.g., rate of return), and it can be organized under one index fund, VINIX.